body {
  background-color: #1e1e1e;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 10px;
  display: grid;
  justify-content: center;
}

.align-background{
  background-color: #111111;
  padding: 20px;
  border: solid;
  border-color: #edd446;
}

.container button {
  background-color: #edd446;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.container button:hover{
  cursor: pointer;
  background-color: #ead979;
}

strong,
h3 {
  color: #edd446;
}
